* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(119, 60, 14);
}

.grid-container {
    width: 500px;
    height: 500px;
    display: grid;
    background: #fff;
}

.pixel-art {
    border: 1px solid #4c42426b;
    background: #fff;
}